language: node_js
cache:
  directories:
    - ~/.npm
node_js:
  - "10"
git:
  depth: 3
install:
  - npm install -g codecov
script:
  - npm run test --coverage
  - yarn build --prefix-paths
after_success:
  - codecov -f coverage/*.json
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GH_TOKEN
  local_dir: public
  target_branch: gh-pages
  on:
    branch: master
